body {
  max-width: 1920px;
  margin: auto;
}
* {
  font-family: 'Inter';
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 30px;
  align-items: center;
  .name {
    font-size: 26px;
  }
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0;
  height: 100%;
}
nav li {
  padding-inline: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav a:hover {
  color: black;
}
.fa-solid {
  color: white;
  font-size: 32px;
  margin: auto;
}
#about {
  display: flex;
  background-color: #f6d2b8;
  padding-inline: 100px;
  padding-block: 100px;
  position: relative;
}
.picture.left::before {
  content: ' ';
  background-color: #e5975f;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.picture {
  margin: 0 20px;
  z-index: 0;
}
.picture img {
  width: 100%;
}
#about-me {
  flex: 2;
}
.about-me__title {
  margin-top: 1em;
  margin-bottom: 60px;
  font-size: 30px;
}
.about-me__introduction {
  font-family: 'Spectral';
  font-weight: 800;
  font-style: italic;
  margin-bottom: 8px;
}
#about-me p {
  width: 80%;
  font-size: 14px;
}
#gallery {
  min-height: 100vh;
}
.title {
  text-align: center;
  padding-block: 2em;
  font-size: 28px;
}
.gallery {
  ul {
    justify-content: center;
  }
}
nav-pills nav-link.active,
nav-pills .show > nav-link {
  color: #fff;
  background-color: #beb45a;
  border-radius: 0;
}
nav-pills nav-link {
  color: #000;
}
.active-tag {
  background-color: #beb45a !important;
  border-radius: 0% !important;
  color: black !important;
}
.nav-link {
  color: black;
  cursor: pointer;
}
.nav-link:hover {
  transform: scale(1.2) !important;
  color: black !important;
  transition: all 0.1s ease-in-out;
}
.active-tag:hover {
  transform: scale(1) !important;
  color: white !important;
  transition: all 0.1s ease-in-out;
}
.item-column {
  position: relative;
  margin-bottom: 0 !important;
  padding: 0;
}
.item-column::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}
.mg-prev,
.mg-next {
  width: 30px;
  height: 30px;
  border-radius: 00%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
}
.quote {
  width: 70%;
  margin: auto;
  padding-block: 3em;
}
.quote__text {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.quote__author {
  font-family: 'Spectral';
  font-weight: 800;
  font-size: 22px;
}
#services {
  margin: auto;
  background-color: #a8d5d8;
  position: relative;
}
#services .container::before {
  content: ' ';
  background-color: #1c6474;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 0;
}
#services .container {
  justify-content: space-between;
  display: flex;
  padding: 2em 0;
}
.service {
  background-color: white;
  max-width: 390px;
  width: 30%;
  height: 337px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.offer {
  font-size: 24px;
  margin-bottom: 8px;
}
.precision {
  margin: 0;
}
#contact {
  margin: auto;
  background-color: #d8d3a8;
  position: relative;
  padding-inline: 100px;
  padding-block: 100px;
}
#contact .container {
  display: flex;
}
.picture.right::before {
  content: ' ';
  background-color: #beb45a;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.form-container {
  flex: 2;
  h2 {
    font-size: 28px;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}
form input {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 2.5em;
  margin-bottom: 20px;
  padding: 0px 8px;
}
form textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 5em;
  line-height: 2.5em;
  margin-bottom: 20px;
  padding: 0px 8px;
}
button {
  background-color: #beb45a;
  padding: 0.5em 1em;
  width: 100%;
}
@media (max-width: 1180px) {
  .picture {
    flex: 2;
  }
  #about,
  #contact .container {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .about-me__introduction {
    font-size: 16px !important;
  }
  #about-me h6,
  #about-me p {
    width: 100%;
  }
  .quote__text {
    font-size: 38px !important;
  }
}
@media (max-width: 1000px) {
  h2 {
    font-size: 26px !important;
  }
  #about {
    flex-direction: column;
  }
  .picture {
    width: 50%;
  }
  .picture.left::before {
    width: 100%;
    height: 30%;
    bottom: auto;
    top: 0;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
  .about-me__introduction {
    font-size: 16px !important;
  }
  #services .container {
    flex-direction: column;
  }
  .service {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 2em 0;
  }
  .service__description {
    margin-bottom: 1em;
  }
  #services .container::before {
    width: 30%;
    height: 100%;
    right: 0;
    left: auto;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .picture.right {
    margin-top: 1em;
  }
  .picture.right::before {
    width: 100%;
    height: 30%;
  }
  .quote__text {
    font-size: 34px !important;
  }
}
@media (max-width: 650px) {
  header {
    flex-direction: column;
    padding-inline: 0;
  }
  header nav,
  header nav ul {
    width: 100%;
    padding: 0 0 0 0;
  }
  header nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .picture.left::before,
  .picture.right::before {
    height: 150px;
  }
  #services .container {
    align-items: center;
  }
  .service {
    max-width: 90%;
  }
  #about,
  #contact {
    padding-inline: 2em;
    padding-block: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
  p {
    font-size: 16px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .quote__text {
    font-size: 28px !important;
  }
  .offer {
    font-size: 22px !important;
  }
}
.instagram-logo {
  font-size: 20px;
}
.display-none {
  display: none;
}
